Repository LunarG/VulkanTools, pull requests merged in 2020-12, with the labels that each got.

#1256 vkconfig: Fix path for vkcube on Windows
  vkconfig_core/environment.cpp
  vkconfig_core/platform.cpp
  vkconfig_core/platform.h
Labels: OS - Windows, P2, bug

#1257 vkconfig: No application list support in cmd
  vkconfig/main_layers.cpp
Labels: OS - platform independent, P2, bug

#1259 vkconfig: Prepare CHANGELOG for 2020 december release
  vkconfig/CHANGELOG.md
Labels: OS - platform independent, P3, Project - vkconfig, enhancement

#1261 vkconfig: Fix Clang format with Travis CI
  vkconfig/settingstreemanager.cpp
Labels: Project - vkconfig, bug

#1267 vkconfig: Fix status not reporting SDK path
  vkconfig/vulkan.cpp
Labels: OS - platform independent, P2, bug

#1265 vkconfig: Make sure is not given a full path
  vkconfig_core/path.cpp
Labels: OS - macOS, P2, bug

#1268 vkconfig: Update doc for Dec SDK release
  vkconfig/CHANGELOG.md
  vkconfig/README.md
Labels: OS - platform independent, P3, Project - vkconfig, enhancement

#1270 vkconfig: Update doc for Dec SDK release
  vkconfig/CHANGELOG.md
  vkconfig/README.md
Labels: OS - platform independent, P3, Project - vkconfig, documentation

#1272 vkconfig: fix clang build
  vkconfig_core/layer.h
  vkconfig_core/layer_state.cpp
  vkconfig_core/platform.cpp
  vkconfig_core/util.h
Labels: OS - Linux, OS - macOS, P0, Project - vkconfig, bug

#1273 vkconfig: Disable convenient test code only warning
  vkconfig_core/test/test_command_line.cpp
Labels: OS - Linux, OS - macOS, OS - platform independent, P3, bug

#1271 vkconfig: generic preset, any layer may have presets
  vkconfig/mainwindow.h
  vkconfig/mainwindow.ui
  vkconfig/resourcefiles/layers_1_2_154/VK_LAYER_KHRONOS_validation.json
  vkconfig/settings_tree.cpp
  vkconfig/settings_tree.h
  vkconfig/settings_validation_areas.cpp
  vkconfig/settings_validation_areas.h
  vkconfig/vkconfig.pro
  vkconfig/widget_preset.cpp
  vkconfig/widget_preset.h
Labels: OS - platform independent, P1, Project - vkconfig, enhancement

#1278 vkconfig: Surrender layers on crash
  vkconfig/CHANGELOG.md
  vkconfig/main.cpp
  vkconfig/main_signal.cpp
  vkconfig/main_signal.h
  vkconfig/vkconfig.pro
Labels: OS - platform independent, P1, Project - vkconfig, enhancement

#1285 vkconfig: Test configuration json format 2.0.3 compat
  vkconfig_core/test/Configuration 2.0.3 - Best Practices.json
  vkconfig_core/test/resources.qrc
  vkconfig_core/test/test_configuration.cpp
Labels: OS - platform independent, P2, Project - vkconfig, enhancement

#1286 devsim: Add portability devsim config files
  layersvt/device_simulation_examples/iOS_gpu_family_3_portability.json
  layersvt/device_simulation_examples/iOS_gpu_family_5_portability.json
  layersvt/device_simulation_examples/macOS_gpu_family_1_portability.json
Labels: Project - devsim, enhancement

#1287 vkconfig: fix configuration export not up to date
  vkconfig/configurator.cpp
  vkconfig/configurator.h
  vkconfig/mainwindow.cpp
Labels: OS - platform independent, P1, bug

#1293 vkconfig: Clean up
  vkconfig/settings_tree.cpp
  vkconfig/settings_tree.h
  vkconfig/settings_validation_areas.cpp
  vkconfig/settings_validation_areas.h
  vkconfig_core/layer.cpp
Labels: OS - platform independent, P2, Project - vkconfig, enhancement

#1291 vkconfig: Fix settings and add 2.1.0 tests
  vkconfig/resourcefiles/configurations/Portability.json
  vkconfig/resourcefiles/layers_1_2_154/VK_LAYER_LUNARG_api_dump.json
  vkconfig/resourcefiles/layers_1_2_154/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig_core/test/Configuration 2.1.0 - Frame Capture.json
  vkconfig_core/test/Configuration 2.1.0 - Portability.json
  vkconfig_core/test/resources.qrc
  vkconfig_core/test/test_configuration.cpp
Labels: OS - platform independent, P0, Project - vkconfig, bug

#1294 vkconfig: Improve backward and forward comp between layers versions
  vkconfig/configurator.cpp
  vkconfig/main_layers.cpp
  vkconfig_core/configuration.cpp
  vkconfig_core/configuration.h
  vkconfig_core/test/test_configuration.cpp
  vkconfig_core/test/test_override.cpp
Labels: OS - platform independent, P1, Project - vkconfig, enhancement
