Repository LunarG/VulkanTools, pull requests merged in 2020-07, with the labels that each got.

#1022 vkconfig: Fixed log window overflow issue
  vkconfig/mainwindow.cpp
Labels: vkconfig

#1026 vkconfig: Fix for issue 416 with invalid configs
  vkconfig/mainwindow.cpp
  vkconfig/mainwindow.h
Labels: vkconfig

#1027 vkconfig: Fix vkconfig initialization when the version run for the first time
  vkconfig/configuration.h
  vkconfig/configurator.cpp
  vkconfig/configurator.h
  vkconfig/dlgprofileeditor.cpp
  vkconfig/dlgprofileeditor.ui
  vkconfig/mainwindow.cpp
  vkconfig/mainwindow.ui
  vkconfig/settingstreemanager.cpp
  vkconfig/util.h
  vkconfig/vk_vuids.h
Labels: bug, vkconfig

#1020 vkconfig2: Enable Synchronization validation default configuration
  vkconfig/configuration.h
  vkconfig/configurator.cpp
  vkconfig/resourcefiles/Validation - Best Practices.json
  vkconfig/resourcefiles/Validation - GPU-Assisted.json
  vkconfig/resourcefiles/Validation - Reduced-Overhead.json
  vkconfig/resourcefiles/Validation - Shader Printf.json
  vkconfig/resourcefiles/Validation - Standard.json
  vkconfig/resourcefiles/Validation - Synchronization (Alpha).json
  vkconfig/resources.qrc
Labels: vkconfig

#1039 vkconfig: Fix CMake Link Errors macOS
  vkconfig/macOS/vkconfig.cmake
Labels: bug, vkconfig

#1040 vkconfig: Clean up
  vkconfig/images/vkconfig-windows.png
  vkconfig/khronossettingsadvanced.cpp
  vkconfig/mainwindow.cpp
  vkconfig/vkconfig.md
Labels: bug, enhancement

#1046 vkconfig: --validate prevent emitting log
  vkconfig/configurator.cpp
Labels: P1, vkconfig

#1048 doc: Improve layout for vkconfig doc
  vkconfig/vkconfig.md
Labels: vkconfig

#1051 vkconfig: Final touches for SDK release
  vkconfig/configurator.cpp
  vkconfig/dlgcustompaths.cpp
  vkconfig/dlgprofileeditor.cpp
  vkconfig/dlgprofileeditor.ui
  vkconfig/mainwindow.cpp
  vkconfig/mainwindow.ui
Labels: P1, bug, enhancement, vkconfig

#1052 vkconfig: doc update
  vkconfig/vkconfig.md
Labels: P1, enhancement, vkconfig

#1053 vkconfig: Preparing the release
  vkconfig/configurator.cpp
  vkconfig/dlghelp.cpp
  vkconfig/dlghelp.h
  vkconfig/dlghelp.ui
  vkconfig/dlgprofileeditor.cpp
  vkconfig/mainwindow.cpp
  vkconfig/mainwindow.h
  vkconfig/vkconfig.pro
Labels: P1, bug, enhancement, vkconfig
