Repository LunarG/VulkanTools, pull requests merged in 2021-05, with the labels that each got.

#1483 vkconfig: fix urls
  vkconfig/mainwindow.cpp
  vkconfig/mainwindow.h
  vkconfig/mainwindow.ui
  vkconfig_core/help.cpp
Labels: OS - platform independent, P2, Project - vkconfig, bug

#1486 vkconfig: fix windows location for override files
  vkconfig/README.md
Labels: OS - platform independent, P1, Project - vkconfig, bug, documentation

#1500 vkconfig: less invasive cmake def
  vkconfig_core/CMakeLists.txt
Labels: OS - platform independent, P3, Project - vkconfig, enhancement

#1496 vkconfig: Add Vulkan 1.2 minimum preset
  layersvt/VkLayer_device_simulation.json.in
  layersvt/device_simulation_examples/sdk_sample_configs/portability_minimum_vulkan_1_0.json
  layersvt/device_simulation_examples/sdk_sample_configs/portability_minimum_vulkan_1_1.json
  layersvt/device_simulation_examples/sdk_sample_configs/portability_minimum_vulkan_1_2.json
  layersvt/device_simulation_examples/sdk_sample_configs/spec_minimum_vulkan_1_0.json
  layersvt/device_simulation_examples/sdk_sample_configs/spec_minimum_vulkan_1_1.json
  layersvt/device_simulation_examples/sdk_sample_configs/spec_minimum_vulkan_1_2.json
Labels: Project - devsim, Project - vkconfig, enhancement

#1504 devsim: Add extension simulation modes
  layersvt/VkLayer_device_simulation.json.in
  layersvt/device_simulation.cpp
  layersvt/device_simulation.md
Labels: Project - devsim, enhancement

#1508 monitor: add url and introduction to layer manifest
  layersvt/VkLayer_monitor.json.in
Labels: OS - platform independent, P3, Project - monitor layer, Project - vkconfig, enhancement

#1509 screenshot: add url and introduction to layer manifest
  layersvt/VkLayer_screenshot.json.in
Labels: OS - platform independent, P3, Project - Screenshot, Project - vkconfig, enhancement

#1506 devsim: add url and introduction to the layer manifest
  layersvt/VkLayer_device_simulation.json.in
  vkconfig_core/layers/130/VK_LAYER_LUNARG_device_simulation.json
  vkconfig_core/layers/135/VK_LAYER_LUNARG_device_simulation.json
  vkconfig_core/layers/141/VK_LAYER_LUNARG_device_simulation.json
  vkconfig_core/layers/148/VK_LAYER_LUNARG_device_simulation.json
  vkconfig_core/layers/154/VK_LAYER_LUNARG_device_simulation.json
  vkconfig_core/layers/162/VK_LAYER_LUNARG_device_simulation.json
  vkconfig_core/layers/170/VK_LAYER_LUNARG_device_simulation.json
Labels: OS - platform independent, P3, Project - devsim, Project - vkconfig, enhancement

#1507 api dump: add url and introduction to the layer manifest
  layersvt/VkLayer_api_dump.json.in
  vkconfig_core/layers/130/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/135/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/141/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/148/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/154/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/162/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/170/VK_LAYER_LUNARG_api_dump.json
Labels: OS - platform independent, P3, Project - apidump, Project - vkconfig, enhancement

#1515 monitor: add supported platforms to manifest
  layersvt/VkLayer_monitor.json.in
Labels: OS - Linux, OS - Windows, P3, Project - monitor layer, enhancement

#1516 screenshot: add supported platforms to the manifest
  layersvt/VkLayer_screenshot.json.in
Labels: OS - Linux, OS - Windows, P3, Project - Screenshot, documentation, enhancement

#1517 vkconfig: add android to platform enum
  vkconfig/dialog_vulkan_info.cpp
  vkconfig/vulkan.cpp
  vkconfig_core/configuration.cpp
  vkconfig_core/environment.cpp
  vkconfig_core/header.h
  vkconfig_core/layer.cpp
  vkconfig_core/layers/135/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layers/135/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/135/VK_LAYER_LUNARG_device_simulation.json
  vkconfig_core/layers/141/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layers/141/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/141/VK_LAYER_LUNARG_device_simulation.json
  vkconfig_core/layers/148/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layers/148/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/148/VK_LAYER_LUNARG_device_simulation.json
  vkconfig_core/layers/148/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig_core/layers/154/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layers/154/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/154/VK_LAYER_LUNARG_device_simulation.json
  vkconfig_core/layers/154/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig_core/layers/162/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layers/162/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/162/VK_LAYER_LUNARG_device_simulation.json
  vkconfig_core/layers/162/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig_core/layers/170/VK_LAYER_KHRONOS_synchronization2.json
  vkconfig_core/layers/170/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layers/170/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/170/VK_LAYER_LUNARG_device_simulation.json
  vkconfig_core/layers/170/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig_core/layers/layers_schema.json
  vkconfig_core/parameter.h
  vkconfig_core/path.cpp
  vkconfig_core/path_manager.cpp
  vkconfig_core/platform.cpp
  vkconfig_core/platform.h
  vkconfig_core/test/test_layer.cpp
  vkconfig_core/test/test_platform.cpp
Labels: OS - platform independent, P3, Project - vkconfig, enhancement

#1519 vkconfig: Refactor the layer window to expose more layer documentation
  vkconfig/CHANGELOG.md
  vkconfig/alert.cpp
  vkconfig/alert.h
  vkconfig/dialog_custom_paths.cpp
  vkconfig/dialog_layers.cpp
  vkconfig/dialog_layers.h
  vkconfig/dialog_layers.ui
  vkconfig/main_layers.cpp
  vkconfig/mainwindow.cpp
  vkconfig/mainwindow.h
  vkconfig_core/doc.cpp
  vkconfig_core/layer.cpp
  vkconfig_core/layer.h
  vkconfig_core/override.cpp
  vkconfig_core/test/test_configuration_manager.cpp
  vkconfig_core/test/test_layer.cpp
Labels: OS - platform independent, P3, Project - vkconfig, documentation, enhancement

#1520 vkconfig: use built-in manifest for layer older than 176 inc
  vkconfig_core/layer.cpp
  vkconfig_core/layers/latest/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layers/latest/VK_LAYER_LUNARG_device_simulation.json
  vkconfig_core/layers/latest/VK_LAYER_LUNARG_gfxreconstruct.json
Labels: OS - platform independent, P2, Project - vkconfig, documentation, enhancement
