Repository LunarG/VulkanTools, pull requests merged in 2021-01, with the labels that each got.

#1303 vkconfig: Improve description layout
  vkconfig/dialog_layers.ui
Labels: OS - platform independent, P3, Project - vkconfig, enhancement

#1304 vkconfig: add Synchronization layers configuration
  vkconfig/CHANGELOG.md
  vkconfig/CMakeLists.txt
  vkconfig/resourcefiles/configurations/Synchronization.json
  vkconfig/resourcefiles/layers_1_2_latest/VK_LAYER_KHRONOS_synchronization2.json
  vkconfig/resourcefiles/layers_1_2_latest/VK_LAYER_KHRONOS_validation.json
  vkconfig/resourcefiles/layers_1_2_latest/VK_LAYER_LUNARG_api_dump.json
  vkconfig/resourcefiles/layers_1_2_latest/VK_LAYER_LUNARG_device_simulation.json
  vkconfig/resourcefiles/layers_1_2_latest/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig/resourcefiles/layers_1_2_latest/VK_LAYER_LUNARG_monitor.json
  vkconfig/resourcefiles/layers_1_2_latest/VK_LAYER_LUNARG_screenshot.json
  vkconfig/resources.qrc
  vkconfig_core/layer.cpp
Labels: OS - platform independent, P0, Project - vkconfig, enhancement

#1309 vkconfig: Add per platform settings
  vkconfig/resourcefiles/layers_162/VK_LAYER_LUNARG_device_simulation.json
  vkconfig/settings_tree.cpp
  vkconfig_core/layer.cpp
  vkconfig_core/layer_setting_meta.h
Labels: OS - platform independent, P0, Project - vkconfig, enhancement

#1312 vkconfig: Add JSON layer loader tests
  vkconfig/resourcefiles/layers_latest/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layer.cpp
  vkconfig_core/test/Layer 1.3.0.json
  vkconfig_core/test/Layer 1.4.0 - presets.json
  vkconfig_core/test/Layer 1.4.0 - setting platforms.json
  vkconfig_core/test/Layer 1.4.0 - setting types.json
  vkconfig_core/test/resources.qrc
  vkconfig_core/test/test_layer.cpp
Labels: OS - platform independent, P1, Project - vkconfig, enhancement

#1316 vkconfig: Fix path management
  vkconfig/dialog_applications.cpp
  vkconfig/mainwindow.cpp
  vkconfig/resourcefiles/configurations/Frame Capture.json
  vkconfig/resourcefiles/layers_141/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig/resourcefiles/layers_148/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig/resourcefiles/layers_154/VK_LAYER_LUNARG_device_simulation.json
  vkconfig/resourcefiles/layers_154/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig/resourcefiles/layers_162/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig/resourcefiles/layers_latest/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig/settings_validation_areas.cpp
  vkconfig_core/application.cpp
  vkconfig_core/environment.cpp
  vkconfig_core/layer.cpp
  vkconfig_core/path.cpp
  vkconfig_core/path.h
  vkconfig_core/path_manager.cpp
  vkconfig_core/platform.cpp
  vkconfig_core/platform.h
Labels: OS - platform independent, P0, Project - vkconfig, bug

#1318 vkconfig: load legacy user-defined configurations
  vkconfig_core/configuration_manager.cpp
  vkconfig_core/configuration_manager.h
  vkconfig_core/path_manager.cpp
  vkconfig_core/path_manager.h
  vkconfig_core/platform.cpp
  vkconfig_core/platform.h
Labels: OS - platform independent, P1, Project - vkconfig, bug

#1319 vkconfig: Fix devsim path
  vkconfig_core/path.cpp
  vkconfig_core/platform.cpp
Labels: OS - platform independent, P1, Project - vkconfig, bug

#1308 [2021 Jan SDK] vkconfig: Add 'Portability' default configuration for macOS
  vkconfig/resourcefiles/configurations/Portability.json
Labels: OS - macOS, P0, Project - vkconfig, enhancement

#1324 devsim: Add build for macOS
  layersvt/CMakeLists.txt
Labels: enhancement

#1326 vkconfig: fix configuration reset when a layer is missing
  vkconfig_core/configuration.cpp
Labels: OS - platform independent, P0, Project - vkconfig, bug

#1331 vkconfig: Add extension filters to load and save file layer settings #1317
  vkconfig/CHANGELOG.md
  vkconfig/resourcefiles/layers_130/VK_LAYER_LUNARG_api_dump.json
  vkconfig/resourcefiles/layers_130/VK_LAYER_LUNARG_device_simulation.json
  vkconfig/resourcefiles/layers_135/VK_LAYER_LUNARG_device_simulation.json
  vkconfig/resourcefiles/layers_141/VK_LAYER_LUNARG_device_simulation.json
  vkconfig/resourcefiles/layers_141/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig/resourcefiles/layers_148/VK_LAYER_LUNARG_api_dump.json
  vkconfig/resourcefiles/layers_148/VK_LAYER_LUNARG_device_simulation.json
  vkconfig/resourcefiles/layers_148/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig/resourcefiles/layers_154/VK_LAYER_LUNARG_api_dump.json
  vkconfig/resourcefiles/layers_154/VK_LAYER_LUNARG_device_simulation.json
  vkconfig/resourcefiles/layers_154/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig/resourcefiles/layers_162/VK_LAYER_LUNARG_api_dump.json
  vkconfig/resourcefiles/layers_162/VK_LAYER_LUNARG_device_simulation.json
  vkconfig/resourcefiles/layers_162/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig/resourcefiles/layers_latest/VK_LAYER_LUNARG_api_dump.json
  vkconfig/resourcefiles/layers_latest/VK_LAYER_LUNARG_device_simulation.json
  vkconfig/resourcefiles/layers_latest/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig/widget_filesystem_setting.cpp
  vkconfig_core/layer.cpp
Labels: OS - platform independent, P3, Project - vkconfig, enhancement

#1334 vkconfig: Expose shader-based individual settings on macOS
  vkconfig/settings_tree.cpp
  vkconfig/settings_validation_areas.cpp
  vkconfig/settings_validation_areas.h
Labels: OS - macOS, P0, Project - vkconfig, bug

#1335 codegen: add new qnx screen platform from vk.xml
  scripts/common_codegen.py
Labels: bug
