Repository LunarG/VulkanTools, pull requests merged in 2021-02, with the labels that each got.

#1347 vkconfig: Fix `printf buffer size' setting exposed a `bool`
  vkconfig/CHANGELOG.md
  vkconfig/settings_tree.cpp
  vkconfig/settings_validation_areas.cpp
  vkconfig/settings_validation_areas.h
  vkconfig_core/layers/162/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layers/latest/VK_LAYER_KHRONOS_validation.json
Labels: OS - platform independent, P0, Project - vkconfig, bug

#1348 vkconfig: add default configuration for the first time
  vkconfig/configurator.cpp
  vkconfig_core/configuration_manager.cpp
  vkconfig_core/configuration_manager.h
  vkconfig_core/environment.cpp
  vkconfig_core/environment.h
Labels: OS - platform independent, P0, Project - vkconfig, enhancement

#1352 vkconfig: Enable Github actions build and unit tests run
  .github/workflows/ci_build.yml
Labels: OS - Linux, P2, Project - vkconfig, enhancement

#1355 vkconfig: Expose 'modify_extension_list' setting from devsim
  vkconfig/CHANGELOG.md
  vkconfig_core/layers/162/VK_LAYER_LUNARG_device_simulation.json
  vkconfig_core/layers/latest/VK_LAYER_LUNARG_device_simulation.json
Labels: OS - platform independent, P1, Project - vkconfig, bug

#1356 vkconfig: fix typos
  vkconfig/vulkan.cpp
Labels: OS - platform independent, P3, Project - vkconfig, bug

#1360 vkconfig: Fix crash when using older 'VK_LAYER_KHRONOS_validation' versions
  vkconfig/CHANGELOG.md
  vkconfig/settings_validation_areas.cpp
  vkconfig_core/layer.cpp
Labels: OS - platform independent, P0, Project - vkconfig, bug

#1362 devsim: Add option to enable/disable memory sim
  layersvt/VkLayer_device_simulation.json.in
  layersvt/device_simulation.cpp
  layersvt/device_simulation.md
Labels: Project - devsim, enhancement

#1364 devsim: expose modify_memory_flags in vkconfig
  layersvt/device_simulation.md
  vkconfig/CHANGELOG.md
  vkconfig_core/layers/latest/VK_LAYER_LUNARG_device_simulation.json
  vkconfig_core/test/test_layer_built_in.cpp
Labels: P1, Project - devsim, Project - vkconfig, enhancement

#1366 vkconfig: Fix devsim setting label
  vkconfig_core/layers/latest/VK_LAYER_LUNARG_device_simulation.json
Labels: OS - platform independent, P2, Project - vkconfig, bug

#1367 Refresh 'Vulkan Development Status' when the configuration changed #1366
  vkconfig/CHANGELOG.md
  vkconfig/mainwindow.cpp
  vkconfig/vulkan.cpp
  vkconfig_core/configuration_manager.cpp
  vkconfig_core/configuration_manager.h
Labels: OS - platform independent, P2, Project - vkconfig, enhancement

#1371 C.I.: Fix build fail due to Ubuntu upgrade to 20.04
  .github/workflows/ci_build.yml
Labels: P0, bug

#1373 build: validation layer broke code that doesn't define NOMINMAX on Wi…
  layer_factory/CMakeLists.txt
  layersvt/CMakeLists.txt
  layersvt/api_dump.h
Labels: OS - Windows, P0, bug

#1381 vkconfig: Make vulkaninfo layer info subobjects of the layer
  vkconfig/dialog_vulkan_info.cpp
Labels: OS - platform independent, P3, Project - vkconfig, enhancement

#1379 vkconfig: Use 'environment variable' instead of &
  vkconfig/vulkan.cpp
Labels: OS - platform independent, P3, Project - vkconfig, enhancement
