Repository LunarG/VulkanTools, pull requests merged in 2021-08, with the labels that each got.

#1585 vkconfig: fix ARM best practices description
  vkconfig_core/layers/148/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layers/154/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layers/162/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layers/170/VK_LAYER_KHRONOS_validation.json
Labels: bug, P2, Project - vkconfig, OS - platform independent

#1586 [vkconfig] Add new loader debug options
  vkconfig/mainwindow.ui
  vkconfig/vulkan.cpp
  vkconfig_core/environment.cpp
  vkconfig_core/environment.h
Labels: enhancement, P2, Project - vkconfig, OS - platform independent

#1587 vkconfig: add support for AMD best practices
  vkconfig/settings_validation_areas.cpp
  vkconfig/settings_validation_areas.h
Labels: enhancement, P2, Project - vkconfig, OS - platform independent

#1595 devsim: Fix portability_desktop_1_0.json
  layersvt/device_simulation_examples/sdk_sample_configs/portability_desktop_1_0.json
Labels: bug, Project - devsim

#1597 vku: fix loading of env vars on Windows
  vkconfig/CHANGELOG.md
Labels: bug, P2, OS - platform independent

#1598 vku: fix loading of env vars on Windows
  vkconfig/CHANGELOG.md
Labels: bug, P2, Project - vkconfig, Project - devsim, OS - platform independent
