Repository LunarG/VulkanTools, pull requests merged in 2021-04, with the labels that each got.

#1398 devsim: Update to Vulkan 1.2
  layersvt/device_simulation.cpp
  layersvt/device_simulation.md
Labels: Project - devsim, enhancement

#1417 vkconfig: fix list values checking
  vkconfig_core/layers/layers_schema.json
Labels: OS - platform independent, P1, Project - vkconfig, enhancement

#1430 vkconfig: refactor API dump settings dependences
  vkconfig_core/layers/130/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/135/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/141/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/148/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/154/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/162/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/170/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/latest/VK_LAYER_LUNARG_api_dump.json
Labels: OS - platform independent, P1, Project - vkconfig, enhancement

#1431 Screenshot: add settings to layer manifest
  layersvt/VkLayer_screenshot.json.in
Labels: OS - platform independent, P1, Project - Screenshot, enhancement

#1437 vkconfig: add loading of VUIDs from VULKAN_SDK path
  vkconfig_core/layer.cpp
Labels: OS - platform independent, P2, Project - vkconfig, enhancement

#1441 vkconfig: refactor validation panel
  vkconfig/settings_tree.cpp
  vkconfig/settings_tree.h
  vkconfig/settings_validation_areas.cpp
  vkconfig/settings_validation_areas.h
  vkconfig/widget_setting_bool.cpp
  vkconfig/widget_setting_bool.h
  vkconfig/widget_setting_enum.cpp
  vkconfig/widget_setting_enum.h
  vkconfig/widget_setting_filesystem.cpp
  vkconfig/widget_setting_filesystem.h
  vkconfig/widget_setting_flags.cpp
  vkconfig/widget_setting_flags.h
  vkconfig/widget_setting_float.cpp
  vkconfig/widget_setting_float.h
  vkconfig/widget_setting_frames.cpp
  vkconfig/widget_setting_frames.h
  vkconfig/widget_setting_int.cpp
  vkconfig/widget_setting_int.h
  vkconfig/widget_setting_list.cpp
  vkconfig/widget_setting_list.h
  vkconfig/widget_setting_list_element.cpp
  vkconfig/widget_setting_list_element.h
  vkconfig/widget_setting_string.cpp
  vkconfig/widget_setting_string.h
  vkconfig_core/setting_meta.cpp
Labels: OS - platform independent, P0, Project - vkconfig, bug

#1453 vkconfig: fix loading of built-in settings
  vkconfig_core/layer.cpp
Labels: OS - platform independent, P0, Project - vkconfig, bug

#1472 vkconfig: Improve 'High Validation Layer Overhead' warning UI
  vkconfig/CHANGELOG.md
  vkconfig/settings_validation_areas.cpp
  vkconfig/settings_validation_areas.h
  vkconfig_core/environment.cpp
Labels: OS - platform independent, P2, Project - vkconfig, bug, enhancement

#1475 vkconfig: fix built-in variables #1474
  layersvt/VkLayer_api_dump.json.in
  layersvt/VkLayer_device_simulation.json.in
  vkconfig/widget_setting_filesystem.cpp
  vkconfig_core/configurations/2.2.1/Frame Capture.json
  vkconfig_core/configurations/2.2.1/Portability.json
  vkconfig_core/environment.cpp
  vkconfig_core/layers/130/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layers/130/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/135/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layers/135/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/141/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layers/141/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/141/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig_core/layers/148/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layers/148/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/148/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig_core/layers/154/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layers/154/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/154/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig_core/layers/162/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layers/162/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/162/VK_LAYER_LUNARG_device_simulation.json
  vkconfig_core/layers/162/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig_core/layers/170/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layers/170/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/170/VK_LAYER_LUNARG_device_simulation.json
  vkconfig_core/layers/170/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig_core/layers/latest/VK_LAYER_KHRONOS_validation.json
  vkconfig_core/layers/latest/VK_LAYER_LUNARG_api_dump.json
  vkconfig_core/layers/latest/VK_LAYER_LUNARG_device_simulation.json
  vkconfig_core/layers/latest/VK_LAYER_LUNARG_gfxreconstruct.json
  vkconfig_core/path.cpp
  vkconfig_core/test/test_path.cpp
Labels: OS - platform independent, P0, Project - vkconfig, bug
