Repository LunarG/VulkanTools, pull requests merged in 2025-06, with the labels that each got.

#2411 vkconfig: Add setting url to generated documentation and menu
  vkconfig_core/doc.cpp
  vkconfig_gui/tab_configurations.cpp
Labels: enhancement, P2, Project - vkconfig, OS - platform independent

#2413 vkconfig: Add applied default layer message action
  vkconfig_core/setting.cpp
Labels: bug, enhancement, P1, Project - vkconfig, OS - platform independent

#2418 vkconfig: Add theme mode control in preference tab
  .github/workflows/ci.yml
  vkconfig_core/configurator.cpp
  vkconfig_core/configurator.h
  vkconfig_core/type_hide_message.cpp
  vkconfig_core/type_hide_message.h
  vkconfig_core/type_theme_mode.cpp
  vkconfig_core/type_theme_mode.h
  vkconfig_gui/CHANGELOG.md
  vkconfig_gui/main.cpp
  vkconfig_gui/mainwindow.cpp
  vkconfig_gui/mainwindow.ui
  vkconfig_gui/style.cpp
  vkconfig_gui/style.h
  vkconfig_gui/tab_configurations.cpp
  vkconfig_gui/tab_preferences.cpp
  vkconfig_gui/tab_preferences.h
  vkconfig_gui/widget_tab_configurations_layer.cpp
  vkconfig_gui/widget_tab_layers_path.cpp
Labels: enhancement, P2, Project - vkconfig, OS - platform independent

#2419 vkconfig: Add layer setting deps to generated vk_layer_settings.txt
  vkconfig_core/configurator.cpp
  vkconfig_gui/CHANGELOG.md
Labels: enhancement, P2, Project - vkconfig, OS - platform independent, documentation

#2420 vkconfig: Add layer setting deps to generated env variable scripts
  vkconfig_core/configurator.cpp
Labels: enhancement, P2, Project - vkconfig, OS - platform independent, documentation

#2430 vkvia: Maybe link to JsonCpp::JsonCpp
  via/CMakeLists.txt
Labels: enhancement, P2, OS - Windows

#2432 vkconfig: Stats for online doc open with the GUI
  vkconfig_gui/resourcefiles/DOCUMENTATION.md
Labels: enhancement, P2, Project - vkconfig, OS - platform independent, documentation

#2433 vkconfig: Add custom alternate row colors
  vkconfig_core/configurator.cpp
  vkconfig_core/configurator.h
  vkconfig_gui/CHANGELOG.md
  vkconfig_gui/mainwindow.ui
  vkconfig_gui/tab_preferences.cpp
  vkconfig_gui/tab_preferences.h
  vkconfig_gui/widget_tab_configurations_layer.cpp
Labels: enhancement, P2, Project - vkconfig, OS - platform independent

#2437 vkconfig: Add generated doc sub-setttings and usage examples to each setting
  vkconfig_core/doc.cpp
  vkconfig_core/setting.cpp
  vkconfig_core/setting.h
Labels: enhancement, P2, Project - vkconfig, OS - platform independent, documentation
