Repository LunarG/VulkanTools, pull requests merged in 2025-03, with the labels that each got.

#2291 vkconfig: March 2025 SDK bugfixing
  .github/workflows/ci.yml
  CMakeLists.txt
  scripts/CMakeLists.txt
  vkconfig_cmd/CMakeLists.txt
  vkconfig_core/CMakeLists.txt
  vkconfig_core/setting.cpp
  vkconfig_core/test/CMakeLists.txt
  vkconfig_gui/macOS/Info.plist
  vkconfig_gui/macOS/vkconfig.cmake
  vkconfig_gui/style.cpp
  vkconfig_gui/tab_preferences.cpp
Labels: bug, P1, Project - vkconfig, OS - platform independent

#2292 vkconfig: Add Qt version to diagnostic
  vkconfig_core/configurations/3.0.0/Frame Capture.json
  vkconfig_core/configurator.cpp
  vkconfig_core/path.cpp
  vkconfig_core/test/test_path.cpp
  vkconfig_gui/mainwindow.ui
  vkconfig_gui/tab_preferences.cpp
Labels: bug, P2, OS - platform independent

#2293 vkconfig: March 2025 SDK fixes
  vkconfig_core/executable.cpp
  vkconfig_core/layer.cpp
  vkconfig_core/layer.h
  vkconfig_core/layer_manager.cpp
  vkconfig_core/layer_manager.h
  vkconfig_core/setting.cpp
  vkconfig_core/setting.h
  vkconfig_core/test/test_executable.cpp
  vkconfig_core/test/test_executable_manager.cpp
  vkconfig_core/test/test_layer.cpp
  vkconfig_core/test/test_layer_manager.cpp
  vkconfig_core/test/test_layer_preset.cpp
  vkconfig_core/test/test_path.cpp
  vkconfig_gui/CHANGELOG.md
  vkconfig_gui/mainwindow.ui
  vkconfig_gui/tab_preferences.cpp
  vkconfig_gui/widget_setting_filesystem.cpp
Labels: bug, enhancement, P1, Project - vkconfig, OS - platform independent

#2294 vkconfig: Bump version for May SDK
  vkconfig_core/test/test_ui.cpp
  vkconfig_core/ui.cpp
  vkconfig_core/version.cpp
  vkconfig_gui/CHANGELOG.md
Labels: enhancement, P2, Project - vkconfig, OS - platform independent

#2295 vkconfig: Update changelog to clarify dark mode support
  vkconfig_gui/CHANGELOG.md
Labels: enhancement, P2, Project - vkconfig, OS - platform independent

#2298 vkconfig: sdk march 2025 fixes
  .github/workflows/ci.yml
  CMakeLists.txt
  vkconfig_cmd/CMakeLists.txt
  vkconfig_cmd/macOS/vkconfig.cmake
  vkconfig_core/CMakeLists.txt
  vkconfig_core/configurator.cpp
  vkconfig_core/test/CMakeLists.txt
  vkconfig_core/test/test_executable.cpp
  vkconfig_core/test/test_executable_manager.cpp
  vkconfig_core/type_hide_message.cpp
  vkconfig_core/type_hide_message.h
  vkconfig_core/type_layer_builtin.cpp
  vkconfig_gui/CMakeLists.txt
  vkconfig_gui/dialog_vulkan_analysis.cpp
  vkconfig_gui/dialog_vulkan_analysis.h
  vkconfig_gui/dialog_vulkan_analysis.ui
  vkconfig_gui/dialog_vulkan_info.cpp
  vkconfig_gui/dialog_vulkan_info.h
  vkconfig_gui/dialog_vulkan_info.ui
  vkconfig_gui/macOS/vkconfig.cmake
  vkconfig_gui/main.cpp
  vkconfig_gui/mainwindow.cpp
  vkconfig_gui/mainwindow.h
  vkconfig_gui/style.cpp
  vkconfig_gui/style.h
  vkconfig_gui/tab_configurations.cpp
  vkconfig_gui/vkconfig.pro
Labels: bug, Project - vkconfig, P0 - Must Fix, OS - platform independent

#2300 Just fixes to some messages
  vkconfig_cmd/CMakeLists.txt
  vkconfig_gui/CMakeLists.txt
Labels: enhancement, documentation

#2301 vkconfig: Clean up
  vkconfig_gui/main.cpp
  vkconfig_gui/tab.cpp
  vkconfig_gui/tab_applications.cpp
  vkconfig_gui/vkconfig.pro
Labels: enhancement, P3, Project - vkconfig, OS - platform independent

#2303 vkconfig: Fix macOS exit crash
  vkconfig_cmd/main_doc.cpp
  vkconfig_cmd/main_layers.cpp
  vkconfig_cmd/main_loader.cpp
  vkconfig_cmd/main_reset.cpp
  vkconfig_core/configurator.cpp
  vkconfig_core/configurator.h
  vkconfig_gui/main.cpp
  vkconfig_gui/mainwindow.cpp
Labels: bug, Project - vkconfig, OS - Apple, P0 - Must Fix

#2305 vkconfig: Clean up CMD log messages when missing layers
  vkconfig_cmd/main_layers.cpp
  vkconfig_core/configuration.cpp
  vkconfig_core/configuration.h
  vkconfig_core/configuration_manager.cpp
  vkconfig_core/configurator.cpp
Labels: bug, P2, Project - vkconfig, OS - platform independent

#2306 vkconfig: Fix restart on macOS
  vkconfig_gui/tab_preferences.cpp
Labels: bug, P1, Project - vkconfig, OS - Apple

#2309 vkconfig: Add Vulkan Header version to about tab
  vkconfig_core/configurator.cpp
  vkconfig_gui/CHANGELOG.md
  vkconfig_gui/mainwindow.ui
  vkconfig_gui/tab_about.cpp
Labels: enhancement, P2, Project - vkconfig, OS - platform independent

#2310 vkconfig: Clean up UI layout
  vkconfig_core/layer.cpp
  vkconfig_core/test/test_layer.cpp
  vkconfig_gui/CHANGELOG.md
  vkconfig_gui/main.cpp
  vkconfig_gui/mainwindow.ui
  vkconfig_gui/settings_tree.cpp
  vkconfig_gui/settings_tree.h
  vkconfig_gui/style.cpp
  vkconfig_gui/tab_configurations.cpp
  vkconfig_gui/widget_tab_configurations_layer.cpp
Labels: enhancement, P1, Project - vkconfig, OS - platform independent

#2296 vkconfig: Add diagnostics search
  vkconfig_core/configurator.cpp
  vkconfig_core/configurator.h
  vkconfig_gui/CHANGELOG.md
  vkconfig_gui/mainwindow.ui
  vkconfig_gui/resourcefiles/dark/down.png
  vkconfig_gui/resourcefiles/dark/exit.png
  vkconfig_gui/resourcefiles/dark/next.png
  vkconfig_gui/resourcefiles/dark/prev.png
  vkconfig_gui/resourcefiles/dark/search_case.png
  vkconfig_gui/resourcefiles/dark/search_regex.png
  vkconfig_gui/resourcefiles/dark/search_whole.png
  vkconfig_gui/resourcefiles/light/down.png
  vkconfig_gui/resourcefiles/light/exit.png
  vkconfig_gui/resourcefiles/light/next.png
  vkconfig_gui/resourcefiles/light/prev.png
  vkconfig_gui/resourcefiles/light/search_case.png
  vkconfig_gui/resourcefiles/light/search_regex.png
  vkconfig_gui/resourcefiles/light/search_whole.png
  vkconfig_gui/resources.qrc
  vkconfig_gui/source/arrow.pdn
  vkconfig_gui/source/case-sensitive-svgrepo-com.png
  vkconfig_gui/source/regex-svgrepo-com.png
  vkconfig_gui/source/whole-word-svgrepo-com.png
  vkconfig_gui/style.cpp
  vkconfig_gui/style.h
  vkconfig_gui/tab_diagnostics.cpp
  vkconfig_gui/tab_diagnostics.h
  vkconfig_gui/widget_tab_configurations_layer.cpp
Labels: enhancement, P1, Project - vkconfig, OS - platform independent

#2311 vkconfig: Fix stay in tray cancelling reset
  vkconfig_core/configurator.cpp
  vkconfig_gui/CHANGELOG.md
  vkconfig_gui/mainwindow.ui
Labels: bug, P2, Project - vkconfig, OS - platform independent

#2312 vkconfig: Fix links display in documentation tab
  vkconfig_gui/mainwindow.ui
Labels: bug, P2, Project - vkconfig, OS - platform independent

#2313 vkconfig: Add appearance selection: dark, light, device theme modes
  .github/workflows/ci.yml
  vkconfig_core/configurator.cpp
  vkconfig_core/configurator.h
  vkconfig_core/type_theme_mode.cpp
  vkconfig_core/type_theme_mode.h
  vkconfig_gui/CHANGELOG.md
  vkconfig_gui/main.cpp
  vkconfig_gui/mainwindow.cpp
  vkconfig_gui/mainwindow.h
  vkconfig_gui/mainwindow.ui
  vkconfig_gui/resourcefiles/DOCUMENTATION.md
  vkconfig_gui/resources.qrc
  vkconfig_gui/style.cpp
  vkconfig_gui/tab_about.cpp
  vkconfig_gui/tab_applications.cpp
  vkconfig_gui/tab_configurations.cpp
  vkconfig_gui/tab_diagnostics.cpp
  vkconfig_gui/tab_documentation.cpp
  vkconfig_gui/tab_layers.cpp
  vkconfig_gui/tab_preferences.cpp
  vkconfig_gui/tab_preferences.h
  vkconfig_gui/vkconfig.pro
Labels: enhancement, P1, Project - vkconfig, OS - platform independent

#2315 vkconfig: Clean up release detection
  vkconfig_core/configurator.cpp
Labels: enhancement, P3, Project - vkconfig, OS - platform independent

#2317 vkconfig: Restore default configurations when restarting and there are no configuration
  vkconfig_core/configuration_manager.cpp
Labels: bug, P2, Project - vkconfig, OS - platform independent

#2314 vkconfig: Add multiple diagnostic files
  .github/workflows/ci.yml
  vkconfig_cmd/main.cpp
  vkconfig_core/configurator.cpp
  vkconfig_core/configurator.h
  vkconfig_core/executable_manager.cpp
  vkconfig_core/executable_manager.h
  vkconfig_core/path.cpp
  vkconfig_core/path.h
  vkconfig_core/test/test_executable_manager.cpp
  vkconfig_core/type_diagnostic_mode.cpp
  vkconfig_core/type_diagnostic_mode.h
  vkconfig_gui/CHANGELOG.md
  vkconfig_gui/mainwindow.cpp
  vkconfig_gui/mainwindow.ui
  vkconfig_gui/tab_applications.cpp
  vkconfig_gui/tab_diagnostics.cpp
  vkconfig_gui/tab_diagnostics.h
  vkconfig_gui/tab_preferences.cpp
  vkconfig_gui/vkconfig.pro
Labels: enhancement, P1, Project - vkconfig, OS - platform independent
